<div class="alert alert-primary" role="alert">
    <table class="table">
        <thead>
        <tr>
            <th>Train</th>
            <th>From</th>
            <th>Time</th>
            <th>To</th>
            <th>Type</th>

        </tr>
        </thead>
        <tbody>
        {% for shedule in shedules %}
            <tr>
                <td>{{ shedule.train.number }}</td>
                <td>{{ shedule.firstStation.city }} - {{ shedule.firstStation.title }}</td>
                <td>{% if shedule.time %}{{ shedule.time|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ shedule.lastStation.city }} - {{ shedule.lastStation.title }}</td>
                <td>{{ shedule.type }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
