{% extends 'base.html.twig' %}

{% block body %}
    <h1>Shedules list</h1>

    <div class="alert alert-primary" role="alert">
        <form id="filter_form">
            <div class="row">
                <div class="col">
                    <label >Select the departure station</label>
                    <select class="form-control" name="first_station">
                        {% for station in stations %}
                            <option value="{{ station.id }}">{{ station }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <label >Select the destination station</label>
                    <select class="form-control" name="last_station">
                        {% for station in stations %}
                            <option value="{{ station.id }}">{{ station }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <label >Select days</label>
                    <select class="form-control" name="type">
                        <option value="weekdays">weekdays</option>
                        <option value="weekendays">weekendays</option>
                    </select>
                </div>
            </div>
        </form>
    </div>

    <div class="alert alert-primary" role="alert" id="table">
        <table class="table">
            <thead>
            <tr>
                <th>Train</th>
                <th>From</th>
                <th>Time</th>
                <th>To</th>
                <th>Type</th>

            </tr>
            </thead>
            <tbody>
            {% for shedule in shedules %}
                <tr>
                    <td>{{ shedule.train }}</td>
                    <td>{{ shedule.firstStation }}</td>
                    <td>{% if shedule.time %}{{ shedule.time|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ shedule.lastStation }}</td>
                    <td>{{ shedule.type }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="js/index.js"></script>
{% endblock %}
