{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-6">

            <h1>Station edit</h1>

            {{ form_start(edit_form) }}

            <div class="form-group">
                {{ form_label(edit_form.title) }}
                {{ form_widget(edit_form.title,{ 'attr': {'class': 'form-control'} }) }}
            </div>

            <div class="form-group">
                {{ form_label(edit_form.city) }}
                {{ form_widget(edit_form.city,{ 'attr': {'class': 'form-control'} }) }}
            </div>

            <div class="text-right">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>

            {{ form_end(edit_form) }}

            <br>

            <ul>
                <li>
                    <a href="{{ path('station_index') }}">Back to the list</a>
                </li>
                <li>
                    {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </li>
            </ul>

        </div>
        <div class="col-sm-1">
        </div>
    </div>

{% endblock %}


