{% extends 'base.html.twig' %}

{% block body %}
    <h1>Stations list</h1>

    <ul>
        <li>
            <a href="{{ path('station_new') }}">Create a new station</a>
        </li>
    </ul>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>City</th>
                <th>Title</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for station in stations %}
            <tr>
                <td><a href="{{ path('station_show', { 'id': station.id }) }}">{{ station.id }}</a></td>
                <td>{{ station.city }}</td>
                <td>{{ station.title }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('station_show', { 'id': station.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('station_edit', { 'id': station.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
