{% extends 'base.html.twig' %}

{% block body %}
    <h1>Station</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ station.id }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ station.city }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ station.title }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('station_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('station_edit', { 'id': station.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
