{% extends 'base.html.twig' %}

{% block body %}
    <h1>Trains list</h1>

    <ul>
        <li>
            <a href="{{ path('train_new') }}">Create a new train</a>
        </li>
    </ul>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Number</th>
                <th>Wagons</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for train in trains %}
            <tr>
                <td><a href="{{ path('train_show', { 'id': train.id }) }}">{{ train.id }}</a></td>
                <td>{{ train.number }}</td>
                <td>{{ train.wagons }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('train_show', { 'id': train.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('train_edit', { 'id': train.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
