{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-6">

            <h1>Train creation</h1>

                {{ form_start(form) }}

                <div class="form-group">
                    {{ form_label(form.number) }}
                    {{ form_widget(form.number,{ 'attr': {'class': 'form-control'} }) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.wagons) }}
                    {{ form_widget(form.wagons,{ 'attr': {'class': 'form-control'} }) }}
                </div>

                <div class="text-right">
                    <input type="submit" value="Create" class="btn btn-primary"/>
                </div>

                {{ form_end(form) }}

            <br>

            <ul>
                <li>
                    <a href="{{ path('train_index') }}">Back to the list</a>
                </li>
            </ul>

        </div>
        <div class="col-sm-1">
        </div>
    </div>


{% endblock %}
