{% extends 'base.html.twig' %}

{% block body %}
    <h1>Train</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ train.id }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ train.number }}</td>
            </tr>
            <tr>
                <th>Wagon</th>
                <td>{{ train.wagons }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('train_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('train_edit', { 'id': train.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
