{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-6">

            <h1>Shedule edit</h1>

            {{ form_start(edit_form) }}

            <div class="form-group">
                {{ form_label(edit_form.train) }}
                {{ form_widget(edit_form.train,{ 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="form-group">
                {{ form_label(edit_form.firstStation) }}
                {{ form_widget(edit_form.firstStation,{ 'attr': {'class': 'form-control', 'type':'datetime'} }) }}
            </div>

            <div class="form-group">
                {{ form_label(edit_form.time) }}
                <br>
                {{ form_widget(edit_form.time,{ 'attr': {'class': 'form_datetime'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(edit_form.lastStation) }}
                {{ form_widget(edit_form.lastStation,{ 'attr': {'class': 'form-control'} }) }}
            </div>

            <div class="text-right">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>

            {{ form_end(edit_form) }}

            <br>

            <ul>
                <li>
                    <a href="{{ path('shedule_index') }}">Back to the list</a>
                </li>
                <li>
                    {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </li>
            </ul>

        </div>
        <div class="col-sm-1">
        </div>
    </div>



{% endblock %}

    {% block javascripts %}
        <link href="../../styles/kendo.common.min.css" rel="stylesheet">
        <link href="../../styles/kendo.rtl.min.css" rel="stylesheet">
        <link href="../../styles/kendo.default.min.css" rel="stylesheet">
        <link href="../../styles/kendo.default.mobile.min.css" rel="stylesheet">
        <script src="../../js/jquery.min.js"></script>
        <script src="../../js/jszip.min.js"></script>
        <script src="../../js/kendo.all.min.js"></script>

        <script>
            $(document).ready(function () {
                // create DateTimePicker from input HTML element
                $(".form_datetime").kendoDateTimePicker({
                    value: new Date(),
                    dateInput: true
                });
            });
        </script>
    {% endblock %}



