{% extends 'base.html.twig' %}

{% block body %}
    <h1>Shedules list</h1>
    <ul>
        <li>
            <a href="{{ path('shedule_new') }}">Create a new shedule</a>
        </li>
    </ul>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Time</th>
                <th>From</th>
                <th>To</th>
                <th>Train</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for shedule in shedules %}
            <tr>
                <td><a href="{{ path('shedule_show', { 'id': shedule.id }) }}">{{ shedule.id }}</a></td>
                <td>{% if shedule.time %}{{ shedule.time|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ shedule.firstStation }}</td>
                <td>{{ shedule.lastStation }}</td>
                <td>{{ shedule.train }}</td>
                <td>{{ shedule.type }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('shedule_show', { 'id': shedule.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('shedule_edit', { 'id': shedule.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <nav>
        <ul class="pagination">
            {% if pages %}
                {% for i in 1 .. pages %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endfor %}
            {% endif %}
        </ul>
    </nav>

    <ul class="pagination">


    </ul>
{% endblock %}
