{% extends 'base.html.twig' %}

{% block body %}

<div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-6">
        <div id="example">

            <h1>Shedule creation</h1>

            {{ form_start(form) }}

            <div class="form-group">
                {{ form_label(form.train) }}
                {{ form_widget(form.train,{ 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="form-group">
                {{ form_label(form.firstStation) }}
                {{ form_widget(form.firstStation,{ 'attr': {'class': 'form-control'} }) }}
            </div>

            <div class="form-group">
                {{ form_label(form.time) }}
                <br>
                {{ form_widget(form.time,{ 'attr': {'class': 'form_datetime'} }) }}
            </div>

            <div class="form-group">
                {{ form_label(form.lastStation) }}
                {{ form_widget(form.lastStation,{ 'attr': {'class': 'form-control'} }) }}
            </div>

            <div class="form-group">
                {{ form_widget(form.type,{ 'attr': {'type': 'hidden'} }) }}
            </div>

            <div class="text-right">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>

            {{ form_end(form) }}

            <br>

            <ul>
                <li>
                    <a href="{{ path('shedule_index') }}">Back to the list</a>
                </li>
            </ul>

        </div>
        <div class="col-sm-1">
        </div>
    </div>
    {% endblock %}

    {% block javascripts %}
        <link href="../../styles/kendo.common.min.css" rel="stylesheet">
        <link href="../../styles/kendo.rtl.min.css" rel="stylesheet">
        <link href="../../styles/kendo.default.min.css" rel="stylesheet">
        <link href="../../styles/kendo.default.mobile.min.css" rel="stylesheet">
        <script src="../../js/jquery.min.js"></script>
        <script src="../../js/jszip.min.js"></script>
        <script src="../../js/kendo.all.min.js"></script>

        <script>
            $(document).ready(function () {
                // create DateTimePicker from input HTML element
                $(".form_datetime").kendoDateTimePicker({
                    value: new Date(),
                    dateInput: true
                });
            });
        </script>
    {% endblock %}


