{% extends 'base.html.twig' %}

{% block body %}
    <h1>Shedule</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ shedule.id }}</td>
            </tr>
            <tr>
                <th>Time</th>
                <td>{% if shedule.time %}{{ shedule.time|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>From</th>
                <td>{{ shedule.firstStation }}</td>
            </tr>
            <tr>
                <th>To</th>
                <td>{{ shedule.lastStation }}</td>
            </tr>
            <tr>
                <th>Train</th>
                <td>{{ shedule.train }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ shedule.type }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('shedule_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('shedule_edit', { 'id': shedule.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
